.a{
background-color: red; text-align: center; 
}
.b{
    background-color: cadetblue;
}
.c{
    background-color: cornsilk;
}
.d{background-color: rosybrown;

}
.e{
    background-color: skyblue;
}
.f{
    background-color: tomato;
}
.g{
    background-color: yellowgreen;
}
.h{
    background-color: yellow;
}
.i{
    background-color: violet;
}
.j{
    background-color: slategrey;
}
.k{
    background-color: lightpink;
}
.l{
    background-color: lime;
}
.m{
    background-color: gold;
}